@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 60 56% 91%;
    --foreground: 20 14% 4%;
    --card: 60 56% 94%;
    --card-foreground: 20 14% 4%;
    --popover: 60 56% 94%;
    --popover-foreground: 20 14% 4%;
    --primary: 181 49% 43%;
    --primary-foreground: 180 20% 98%;
    --secondary: 60 25% 85%;
    --secondary-foreground: 20 14% 4%;
    --muted: 60 30% 88%;
    --muted-foreground: 60 10% 45%;
    --accent: 358 70% 66%;
    --accent-foreground: 358 80% 98%;
    --destructive: 0 72% 51%;
    --destructive-foreground: 0 0% 98%;
    --border: 60 20% 80%;
    --input: 60 20% 82%;
    --ring: 181 49% 43%;
    --chart-1: 181 49% 43%;
    --chart-2: 358 70% 66%;
    --chart-3: 40 80% 60%;
    --chart-4: 120 40% 50%;
    --chart-5: 200 50% 50%;
    --radius: 0.5rem;
    --sidebar-background: 60 40% 89%;
    --sidebar-foreground: 20 14% 4%;
    --sidebar-primary: 181 49% 43%;
    --sidebar-primary-foreground: 180 20% 98%;
    --sidebar-accent: 60 56% 91%;
    --sidebar-accent-foreground: 20 14% 4%;
    --sidebar-border: 60 20% 80%;
    --sidebar-ring: 181 49% 43%;
  }
  .dark {
    --background: 20 14% 4%;
    --foreground: 60 56% 91%;
    --card: 20 14% 6%;
    --card-foreground: 60 56% 91%;
    --popover: 20 14% 4%;
    --popover-foreground: 60 56% 91%;
    --primary: 181 49% 43%;
    --primary-foreground: 180 20% 98%;
    --secondary: 20 10% 12%;
    --secondary-foreground: 60 56% 91%;
    --muted: 20 10% 12%;
    --muted-foreground: 60 10% 60%;
    --accent: 358 70% 66%;
    --accent-foreground: 358 80% 98%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 0 0% 98%;
    --border: 20 10% 12%;
    --input: 20 10% 12%;
    --ring: 181 49% 43%;
    --chart-1: 181 49% 43%;
    --chart-2: 358 70% 66%;
    --chart-3: 40 80% 60%;
    --chart-4: 120 40% 50%;
    --chart-5: 200 50% 50%;
    --sidebar-background: 20 14% 6%;
    --sidebar-foreground: 60 56% 91%;
    --sidebar-primary: 181 49% 43%;
    --sidebar-primary-foreground: 180 20% 98%;
    --sidebar-accent: 20 10% 12%;
    --sidebar-accent-foreground: 60 56% 91%;
    --sidebar-border: 20 10% 12%;
    --sidebar-ring: 181 49% 43%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
